*{
}


body{
    background-size: 900%;
    background-image: linear-gradient( 135deg,
    #00b7d4, #505488, #2f3f80, #161569, #5A4894, #a950a1,#ff7cae
    );
    animation: animacion 10s infinite;

}
@keyframes animacion{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }

  }
  


#verbs-container{
    margin: 0 35%;
}
.verbs-answer{
    display: block;
}
.rightAnswer, .rightAnswer:hover{
    background-color: #6ab04c;
    border-color: #6ab04c;
    color: #fff;
}
.wrongAnswer, .wrongAnswer:hover{
    background-color: #b33030;
    border-color: #b33030;
    color: #fff;
}
#next{
    margin-top: 8rem;
    cursor: pointer;
    color: green;
}

.verbs-answer{
    color: #fff;
}

#repeat{
    margin-top: 4%;
    
}
